<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <style>
* {
  box-sizing: border-box;
}
</style>
    
   <title>Bug addition + Update + Edit</title>
   <div>
    <h2 style="text-align: center;">Bugs</h2>
  </div>
  <div>
    <p style="text-align: center;">Click on the buttons to perform necessary operation on Bugs:</p>
  </div>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
   <style>
   .bs-example {
      margin: 20px;
   }
   </style>
   <script>
   $(document).ready(function() {
      $("#myTab a").click(function(e) {
         e.preventDefault();
         $(this).tab('show');
      });
   });
   </script>
   <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
   <!--     Fonts and icons     -->
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
 
   <!-- CSS Files -->
   <link href=" css/bootstrap.min.css" rel="stylesheet" />
   <link href=" css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
   <!-- CSS Just for demo purpose, don't include it in your project -->
   <link href=" demo/demo.css" rel="stylesheet" />
</head>

<body>
      <div class="sidebar" data-color="white" data-active-color="danger">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
          -->
            <div class="logo">
              <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                <div class="logo-image-small">
                  <img src=" img/priyanshi.jpg">                         
                </div>
              </a>
              <a href="/dashboard" class="simple-text logo-normal">
                <%= user %>
                <!-- <div class="logo-image-big">
                  <img src=" img/logo-big.png">
                </div> -->
              </a>
            </div>
            <div class="sidebar-wrapper">
              <ul class="nav">
                <li class="active ">
                  <a href="/dashboard">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                  </a>
                </li>
                <li>
                  <a href="/projects">
                    <i class="nc-icon nc-single-copy-04"></i>
                    <p>My Test Progress</p>
                  </a>
                </li>
                <li>
                  <a href="/profile">
                    <i class="nc-icon nc-single-02"></i>
                    <p>Profile</p>
                  </a>
                </li>
                <li class="active" >
                    <a href="/bugs_tabs">
                     <i class="nc-icon nc-settings"></i>
                     <p>Bugs</p>
                    </a>
                  </li>
                <li>
                    <a href="/addemulator">
                      <i class="nc-icon nc-laptop"></i>
                      <p>Emulator</p>
                    </a>
                  </li>
                <li>
                    <a href="/bill">
                      <i class="nc-icon nc-credit-card"></i>
                      <p>Bill</p>
                    </a>
                  </li>
                <li>
                  <a href="/chat">
                    <i class="nc-icon nc-chat-33"></i>
                    <p>Community Chat</p>
                  </a>
                </li>
                <li>
              </ul>
            </div>
          </div>
          <div class="main-panel">
               <%- include nav_tester.ejs %>
               <div class="content">
   <div style="background-color: #D">
   <div class="bs-example">
      <ul class="nav nav-tabs">
         <li class="nav-item"> <a href="#Add" style="color:#000000;" class="nav-link active" data-toggle="tab">Add</a> </li>
         <li class="nav-item"> <a href="#Search" style="color:#000000;" class="nav-link" data-toggle="tab">Search</a> </li>
         <li class="nav-item"> <a href="#Edit" style="color:#000000;" class="nav-link" data-toggle="tab">Edit</a> </li>
      </ul>
      <div class="tab-content">
         <div class="tab-pane fade show active" id="Add">
            <h4 class="mt-2">Add a Bug <%= project.name %></h4>
            <p>Add a Bug for the project</p>
            <div class="content">
               <div class="row">
                  <div class="col-md-12">
                     <div class="card card-user">
                        <div class="card-header">
                           <form action="/addabug" method="post" >
                              <div class="row">
                                 <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                       <label>Bug ID</label>
                                       <input type="text" class="form-control" placeholder="Bug ID" id="bugid" name="bugid"> </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-10 pr-1">
                                    <div class="form-group">
                                       <label>Component</label>
                                       <input type="text" class="form-control" placeholder="Project Component name (software/hardware) affected" id="component" name="component"> </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-2 pr-1">
                                    <div class="form-group">
                                       <label>Version</label>
                                       <input type="text" class="form-control" placeholder="Version#" id="version" name="version"> </div>
                                 </div>
                              </div>
                              <div class="row">
                              <div class="col-md-5 pr-1">
                                 <div class="form-group">
                                    <label>Status</label>
                                    <input type="text" class="form-control" placeholder="New/Open/Re-open/Closed" id="status" name="status"> </div>
                              </div>
                           </div>
                              <div class="row">
                                 <div class="col-md-2 pr-1">
                                    <div class="form-group">
                                       <label>Priority</label>
                                       <input type="text" class="form-control" placeholder="Priority" id="priority" name="priority"> </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-2 pr-1">
                                    <div class="form-group">
                                       <label>Date Created</label>
                                       <input type="text" class="form-control" placeholder="YYYYMMDD" id="date" name="date">
                                       <input type="text" class="form-control" placeholder="id" id="id" name="id" value= <%= project._id%> hidden >
                                     </div>
                                 </div>
                              </div>
                               <div class="row">
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label>Summary</label>
                                    <textarea class="form-control textarea" id="summary" placeholder="Summary of the bug incurred"name="summary"></textarea>
                                 </div>
                              </div>
                           </div>
                              
                              <div class="row">
                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label>Upload Documentation:</label>
                                       <input type="file" name="document" id="document" multiple>
                                       <label class="custom-file-document" for="document"></label>
                                       <input type="submit" class="btn btn-primary btn-round" value="Upload"> </div>
                                 </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label>Upload Test Data:</label>
                                       <input type="file" name="testdata" id="testdata" multiple>
                                       <label class="custom-file-testdata" for="testdata"></label>
                                       <input type="submit" class="btn btn-primary btn-round" value="Upload"> </div>
                                 </div>
                                 <div class="col-md-4">
                                    <div class="form-group">
                                       <label>Upload Test Cases:</label>
                                       <input type="file" name="testcase" id="testcase" multiple>
                                       <label class="custom-file-testcase" for="testcase"></label>
                                       <input type="submit" class="btn btn-primary btn-round" value="Upload"> </div>
                                 </div>
                              </div>
                              <div class="row"> </div>
                              <div class="row">
                                 <div class="update ml-auto mr-auto">
                                    <button type="submit" class="btn btn-primary btn-round">Add Bug</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
         </div>
         <div class="tab-pane fade" id="Search">
            <h4 class="mt-2">Search for Project Bugs</h4>
            <p>Search an existing bug</p>
            <div class="row">
               <div class="col-md-12">
                  <div class="card ">
                     <div class="card-header ">
                        <h5 class="card-title">List of Bugs</h5>
                        <p class="card-category"></p>
                     </div>
                     <div class="card-body ">
                        <table id="bug-table" class="cell-border" style="width:100%">
                           <thead>
                              <tr>
                                 <th>Bug ID</th>
                                 <th>Component</th>
                                 <th>Status</th>
                                 <th>Priority</th>
                                 <th>Summary</th>
                              </tr>
                           </thead>
                        </table>
                     </div>

                  </div>
               </div>                 
            </div>
         </div>
         <div class="tab-pane fade" id="Edit">
            <h4 class="mt-2">Edit page to update or Delete Project bugs</h4>
            <p>Update or Delete an existing bug.</p>
            <div class="row">
               <div class="col-md-12">
                  <div class="card card-user">
                     <div class="card-header">
                        <h5 class="card-title">Enter Bug details</h5> </div>
                     <div class="card-body">
                        <select id="locality-dropdown" name="locality"> </select>
                        <form action="/addabug" method="post" enctype="multipart/form-data">
                           <div class="row">
                              <div class="col-md-5 pr-1">
                                 <div class="form-group">
                                    <label>Bug ID</label>
                                    <input type="text" class="form-control" placeholder="Bug ID" id="bugid" name="bugid"> </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-5 pr-1">
                                 <div class="form-group">
                                    <label>Version</label>
                                    <input type="text" class="form-control" placeholder="Version# (ex. v2.0 for update) " id="version" name="version"> </div>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-md-12">
                                 <div class="form-group">
                                    <label>Summary</label>
                                    <textarea class="form-control textarea" id="summary" placeholder="Summary of the bug incurred"name="summary"></textarea>
                                 </div>
                              </div>
                           </div>
                          <div class="row">
                              <div class="col-md-5 pr-1">
                                 <div class="form-group">
                                    <label>Updated Priority</label>
                                    <input type="text" class="form-control" placeholder="Low/Medium/High/Critical" id="priority" name="priority"> </div>
                              </div>
                           </div>
                             <div class="row">
                              <div class="col-md-5 pr-1">
                                 <div class="form-group">
                                    <label>Updated Status</label>
                                    <input type="text" class="form-control" placeholder="New/Open/Re-open/Closed" id="status" name="status"> </div>
                              </div>
                           </div>
                              <div class="row">
                                 <div class="col-md-2 pr-1">
                                    <div class="form-group">
                                       <label>Date Modified</label>
                                       <input type="text" class="form-control" placeholder="YYYYMMDD" id="date" name="date"> </div>
                                       <input type="text" class="form-control" placeholder="id" id="id" name="id" hidden> </div>
                                 </div>
                              </div>
                            <div class="row">
                              <div class="col-md-4">
                                 <div class="form-group">
                                    <label>Upload Documentation:</label>
                                    <input type="file" name="document" id="document" multiple>
                                    <label class="custom-file-document" for="document" id="doc"></label>
                                    <input type="submit" class="btn btn-primary btn-round" value="Upload"> </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="form-group">
                                    <label>Upload Test Data:</label>
                                    <input type="file" name="testdata" id="testdata" multiple>
                                    <label class="custom-file-testdata" for="testdata" id="data"></label>
                                    <input type="submit" class="btn btn-primary btn-round" value="Upload"> </div>
                              </div>
                              <div class="col-md-4">
                                 <div class="form-group">
                                    <label>Upload Test Cases:</label>
                                    <input type="file" name="testcase" id="testcase" multiple>
                                    <label class="custom-file-testcase" for="testcase" id="case"></label>
                                    <input type="submit" class="btn btn-primary btn-round" value="Upload"> </div>
                              </div>
                           </div>
                           <div class="row"> </div>
                           <div class="row">
                              <div class="update ml-auto mr-auto">
                                 <button type="submit" class="btn btn-primary btn-round">Update Bug</button>
                              </div>
                           </div>
                        </form>
                        <div class="row">
                           <div class="update ml-auto mr-auto">
                              <button type="submit" onclick="deletebug()" class="btn btn-primary btn-round" style="background-color:crimson">Delete Bug</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
               </div>
              <%- include footer.ejs %>
            </div>
            </div>
      </div>
   </div>
   <!--   Core JS Files   -->
  <script src="js/core/jquery.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap.min.js"></script>
  <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
   <!-- Google Maps Plugin   
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
  <!-- Chart JS -->
  <script src="js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="demo/demo.js"></script>
  <script>
$( document ).ready(function() {
let dropdown = $('#locality-dropdown');
dropdown.empty();
dropdown.append('<option selected="true" disabled>Choose Bug</option>');
dropdown.prop('selectedIndex', 0);
const url = '/tester/getallbugs';
// Populate dropdown with list of provinces
$.getJSON(url, function (data) {
  $.each(data, function (key, entry) {
    dropdown.append($('<option></option>').attr('value', entry).text(entry));
  })
});
    });
    //$(this).find('option:selected').attr("name");
function deletebug(){
  var d = $("#locality-dropdown").find('option:selected').attr("value");
  console.log(d);
  var data = {};
  data.name=d;
  $.ajax({
    url: '/tester/editbug',
    method: 'DELETE',
    data:data,
    // contentType: 'application/json',
    // dataType: "json",
    success: function(result) {
       if(result == "success"){
         alert("Successfully Deleted:" + d); 
         window.location.href = "/tester/getallbugs";
       }
       else {
         alert("Some error occured");
       }
    },
    error: function(request,msg,error) {
        alert("Not able to submit request");
    }
  });
}
$('#bug-table').dataTable({
        "ajax": {
          "url": "gettestersforbugs",
          "type": "GET"
        },
        "columns": [
          { "data": "bug_id" },
          { "data": "component" },
          {"data":"status"},
          {"data": "priority"},
          {"data":"summary"}
         //  {
         //    "data": "documentation",
         //    "render": function (data, type, row) {
         //      return '<a href="/uploads/' + data + '" target="_blank">' + data + '<b class="nc-icon nc-cloud-download-93"></b></a> ';
         //    }
         //  },
         //  {
         //    "data": "testdata",
         //    "render": function (data, type, row) {
         //      return '<a href="/uploads/' + data + '" target="_blank">' + data + '<b class="nc-icon nc-cloud-download-93"></b></a> ';
         //    }
         //  },
         //  {
         //    "data": "testcases",
         //    "render": function (data, type, row) {
         //      return '<a href="/uploads/' + data + '" target="_blank">' + data + '<b class="nc-icon nc-cloud-download-93"></b></a> ';
         //    }
         //  }
        ]
      });
//Check if the below module applies for bugs//
$('#document').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                var t = fileName.split("\\");
                t = t[t.length-1];
                console.log(t);
                //replace the "Choose a file" label
                $(this).next('.custom-file-document').html(t);
            });
            $('#testcase').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                var t = fileName.split("\\");
                t = t[t.length-1];
                console.log(t);
                $(this).next('.custom-file-testcase').html(t);
            });
            $('#testdata').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                var t = fileName.split("\\");
                t = t[t.length-1];
                console.log(t);
                $(this).next('.custom-file-testdata').html(t);
            });
  </script>


</body>

</html>